.front {
   &__column {
      width: 720px;
      margin: auto;
      & img {
         width: 100%;
         margin-bottom: 36px;
      }
   }

   &__block {
      text-align: center;
   }

   &__heading {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 32px;
   }

   &__text {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 32px;
   }
   button {
      width: 280px;
      height: 56px;
      border-radius: 28px;
      box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
      background: linear-gradient(146.09deg, rgb(99, 225, 217) -22.012%, rgb(52, 160, 205) 100%);
      &:hover{
         background: rgb(138, 218, 227);
      }
   }
}
